@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
*, * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
@media (min-width: 1441px) {
  html, body {
    font-size: 1.25rem;
  }
}
@media (max-width: 601px) {
  html, body {
    font-size: 0.8rem;
  }
}
@media (max-width: 425px) {
  html, body {
    font-size: 0.6rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Open Sans", serif;
  font-size: 0.8rem;
  color: black;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  min-height: 100%;
  height: 100vh;
  background: rgb(204, 92, 0);
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 900px;
  overflow-y: scroll;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-bottom: 2px solid black;
}
.container::-webkit-scrollbar {
  width: 0;
}
@media (min-width: 1441px) {
  .container {
    width: 1100px;
  }
}
@media (max-width: 1025px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 601px) {
  .container {
    width: 425px;
  }
}
@media (max-width: 425px) {
  .container {
    width: 100%;
  }
}

.title {
  text-align: center;
  margin: 20px 20px 30px;
  text-transform: capitalize;
  font-size: 2rem;
}

.accordion {
  width: 80%;
  min-height: 100%;
  margin: 0 auto;
  background: #ffffff;
  padding: 30px 30px 50px;
}
@media (max-width: 425px) {
  .accordion {
    width: 100%;
    padding: 10px 10px 10px;
  }
}
.accordion_text {
  margin: 0 auto;
  width: 90%;
  height: 11rem;
  overflow-y: scroll;
  background: #ffffff;
  text-align: justify;
  padding: 1.25rem;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 1rem;
}
.accordion_text::-webkit-scrollbar {
  width: 0;
}
.accordion__title {
  margin: 0 auto;
  width: 90%;
  padding: 20px;
  border-top: 2px solid black;
  background: #ffffff;
  position: relative;
  font-size: 1.35rem;
  cursor: pointer;
}
.accordion__icon {
  position: absolute;
  right: 30px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.hide {
  height: 0;
  padding: 0 1.25rem;
  overflow: hidden;
}

.rotate {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.border {
  border-bottom: 2px solid black;
}

.footer {
  width: 100%;
  height: 15%;
  padding: 30px 0;
  background: rgb(204, 92, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 10px;
  padding: 0 20px;
}
@media (max-width: 601px) {
  .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__container img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__imgIcon svg {
  width: 20px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.footer__link {
  gap: 10px;
}
.footer__link:hover {
  color: aqua;
  fill: aqua;
}
.footer__name {
  font-size: 1rem;
}
.footer__icon .fa-github {
  font-size: 2rem;
}