// null styles
*,*{margin: 0;padding: 0;box-sizing: border-box;}
html, body{width: 100%; height: 100%; font-size: 1rem;
    @media(min-width: 1441px) {
            font-size: 1.25rem;
        }
    // @media(max-width: px) {
    //     font-size: 1rem;
    // }
    @media(max-width: 601px) {
            font-size: 0.8rem;
        }
    
        @media(max-width: 425px) {
            font-size: 0.6rem;
        }
}
ul, li{list-style: none;}
a{text-decoration: none;color:inherit;}
body{
    font-family: 'Open Sans', serif; 
    font-size: 0.8rem; 
    color: black
}

$main-bg: rgb(204, 92, 0);
$items-bg: #ffffff;
$hover-color: aqua;

%df-aic-jcc {display: flex;align-items: center;justify-content: center;}

// @media(min-width: 1441px){
//     body{
//         font-size: 20px;
//     }
//     .container{
//         width: 1200px;
//     }
// }
// @media only screen and (max-width: 1025px) {
//     .container {
//             width: 600px;
//         }
// }

.wrapper {
    min-height: 100%;
    height: 100vh;
    background: $main-bg;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 900px;
    overflow-y: scroll;
    margin: 0 auto;
    flex: 1 1 auto;
    border-bottom: 2px solid black;
    &::-webkit-scrollbar {
            width: 0;
    }
    @media(max-width: 1025px) {
        width: 600px;
}
    @media(max-width: 601px) {
        width: 425px;
    }
    @media(max-width: 425px) {
        width: 100%;
    }

}
 .title {
     text-align: center;
     margin: 20px 20px 30px;
     text-transform: capitalize;
     font-size: 2rem;
 }
.accordion {
    @media(max-width: 425px) {
            width: 100%;
            padding: 10px 10px 30px;
        }
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
    background: $items-bg;
    padding: 30px 30px 50px;
   
    &_text {
        margin: 0 auto;
        width: 90%;
        height: 12.5rem;
        background: $items-bg;
        text-align: justify;
        padding: 1.25rem;
        transition: 0.5s;
        font-size: 1rem;
    }

     &__title {
        margin: 0 auto;
        width: 90%;
        padding: 20px;
        border-top: 2px solid black;
        background: $items-bg;
        position: relative;
        font-size: 1.35rem;
        cursor: pointer;
     }

    &__icon {
        position: absolute;
        right: 30px;
        cursor: pointer;
        transition: 0.5s;
        
    }
}
.hide{
    height: 0;
    padding: 0 20px;
    overflow: hidden;
}
.rotate{
    transform: rotate(225deg);
        transition: 0.5s;
}
.border {
    border-bottom: 2px solid black;
}
.footer {
    width: 100%;
    height: 15%;
    padding: 30px 0;
    background: $main-bg;
    display: flex;
    &__container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: end;
        @media(max-width: 601px) {
                justify-content: center;
            }
        gap: 10px;
        padding: 0 20px;
        img{
            height: 60px;
            width: 60px;
            border-radius: 30px;
            object-fit: cover;
            
        }
    }
    &__imgIcon{
        svg{
            width: 20px;
            transform: rotate(90deg);
        }
    }
    &__link {
        @extend %df-aic-jcc;
        gap: 10px;
        &:hover {
                color: $hover-color;
                fill: $hover-color;
            }
    }

    &__name {
        font-size: 1rem;
    }

    &__icon {
        .fa-github {
                font-size: 2rem;
            }
    }
}