// null styles
*,*{margin: 0;padding: 0;box-sizing: border-box;}
html, body{width: 100%; height: 100%;}
ul, li{list-style: none;}
a{text-decoration: none;color:inherit;}
body{font-family: 'Open Sans', serif; color: black}

$main-bg: rgb(204, 92, 0);
$items-bg: #ffffff;
$hover-color: aqua;

%df-aic-jcc {display: flex;align-items: center;justify-content: center;}

.wrapper {
    min-height: 100%;
    max-height: 100vh;
    background: $main-bg;
    padding-top: 30px;
    @extend %df-aic-jcc;
    flex-direction: column;
    flex: 1 1 auto;
}

.container {
    width: 900px;
    overflow-y: scroll;
    margin: 0 auto;
    border-bottom: 2px solid black;
    &::-webkit-scrollbar {
            width: 0;
    }
}
 .title {
     text-align: center;
     margin-bottom: 20px;
     text-transform: capitalize;
 }
.accordion {
    
    width: 80%;
    margin: 0 auto;
    background: $items-bg;
    padding: 30px 30px 50px;
   
    &_text {
    margin: 0 auto;
        width: 90%;
        height: 130px;
        background: $items-bg;
        text-align: justify;
        padding: 20px;
        transition: 0.5s;
    }

     &__title {
    margin: 0 auto;
        width: 90%;
        padding: 20px;
        border-top: 2px solid black;
        // border-bottom: 2px solid black;
        background: $items-bg;
        position: relative;
        font-size: 20px;
     }

    &__icon {
        position: absolute;
        right: 30px;
        cursor: pointer;
        transition: 0.5s;
    }
}
.hide{
    height: 0;
    padding: 0 20px;
    overflow: hidden;
}
.rotate{
    transform: rotate(225deg);
        transition: 0.5s;
}

.footer {
    width: 100%;
    padding: 30px 0;
    background: $main-bg;
    &__container {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        padding: 0 20px;
        img{
            height: 60px;
            width: 60px;
            border-radius: 30px;
            object-fit: cover;
            
        }
    }
    &__imgIcon{
        svg{
            width: 20px;
            transform: rotate(90deg);
        }
    }
    &__link {
        @extend %df-aic-jcc;
        gap: 10px;
        &:hover {
                color: $hover-color;
                fill: $hover-color;
            }
    }

    &__name {}

    &__icon {}
}